/* background-color */
.bgAzulClaroSuam{
    background-color: #0F96AE;
}
.bgAzulEscuroSuam{
    background-color: #004070;
}
.bgLaranjaClaroSuam{
    background-color: #EF7D00;
}
.bgLaranjaEscuroSuam{
    background-color: #EA5A33;
}
.bgAmareloClaroSuam{
    background-color: #F5C200;
}
.bgRosaPQF{
    background-color: #FF0055;
}
.bgBranco{
    background-color: #ffffff;
}
.bgBrancoClaro1{
    background-color: #ffffff70;
}
.bgPreto{
    background-color: #000000;
}
.bgPreto1{
    background-color: #333333;
}
.bgLaranjaEscuro1{
    background-color: #FF7514;
}
.bgCinza1{
    background-color: #F0F0F0;
}
.bgCinza2{
    background-color: #E0E0E0;
}
.bgCinza3{
    background-color: #C9C9C9;
}
.bgCinza4{
    background-color: #999999;
}
.bgCinza5{
    background-color: #666666;
}
.bgCinza6{
    background-color: #979797;
}
.bgCinza7{
    background-color: #474747;
}
.bgPretoPQF1{
    background-color: #151515;
}

/* border-color */
.bdAzulClaroSuam{
    border-color: #0F96AE;
}
.bdAzulEscuroSuam{
    border-color: #004070;
}
.bdLaranjaClaroSuam{
    border-color: #EF7D00;
}
.bdLaranjaEscuroSuam{
    border-color: #EA5A33;
}
.bdAmareloClaroSuam{
    border-color: #F5C200;
}
.bdRosaPQF{
    border-color: #FF0055;
}
.bdBranco{
    border-color: #ffffff;
}
.bdBrancoClaro1{
    border-color: #ffffff70;
}
.bdPreto{
    border-color: #000000;
}
.bdPreto1{
    border-color: #333333;
}
.bdLaranjaEscuro1{
    border-color: #FF7514;
}
.bdCinza1{
    border-color: #F0F0F0;
}
.bdCinza2{
    border-color: #E0E0E0;
}
.bdCinza3{
    border-color: #C9C9C9;
}
.bdCinza4{
    border-color: #999999;
}
.bdCinza5{
    border-color: #666666;
}
.bdCinza6{
    border-color: #979797;
}
.bdCinza7{
    border-color: #474747;
}
.bdPretoPQF1{
    border-color: #151515;
}

/* color */
.txtAzulClaroSuam{
    color: #0F96AE;
}
.txtAzulEscuroSuam{
    color: #004070;
}
.txtLaranjaClaroSuam{
    color: #EF7D00;
}
.txtLaranjaEscuroSuam{
    color: #EA5A33;
}
.txtAmareloClaroSuam{
    color: #F5C200;
}
.txtRosaPQF{
    color: #FF0055;
}
.txtBranco{
    color: #ffffff;
}
.txtPreto{
    color: #000000;
}
.txtPreto1{
    color: #333333;
}
.txtLaranjaEscuro1{
    color: #FF7514;
}
.txtCinza1{
    color: #F0F0F0;
}
.txtCinza2{
    color: #E0E0E0;
}
.txtCinza3{
    color: #C9C9C9;
}
.txtCinza4{
    color: #999999;
}
.txtCinza5{
    color: #666666;
}
.txtCinza6{
    color: #979797;
}
.txtCinza7{
    color: #474747;
}
.txtPretoPQF1{
    color: #151515;
}